<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.seansith.newalacrittywindow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0218BF3B-512D-48EC-8480-DADC7E2DD7CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A40F14A3-1DA2-4EC3-BA80-1E5181972E5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52E42319-F884-4510-A8AC-5C9E887E0710</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E006E28-3963-4701-B6E1-94E36A5DBF8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sean Smith</string>
	<key>description</key>
	<string>Create new Alacritty windows from the open session</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New Alacritty Window</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/opt/homebrew/bin/alacritty msg create-window</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E006E28-3963-4701-B6E1-94E36A5DBF8B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open New Alacritty Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>52E42319-F884-4510-A8AC-5C9E887E0710</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/opt/homebrew/bin/alacritty</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A40F14A3-1DA2-4EC3-BA80-1E5181972E5A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>iterm</string>
				<key>subtext</key>
				<string>You don't use iTerm2 anymore!</string>
				<key>text</key>
				<string>New Alacritty Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0218BF3B-512D-48EC-8480-DADC7E2DD7CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>0218BF3B-512D-48EC-8480-DADC7E2DD7CA</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>52E42319-F884-4510-A8AC-5C9E887E0710</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>8E006E28-3963-4701-B6E1-94E36A5DBF8B</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>A40F14A3-1DA2-4EC3-BA80-1E5181972E5A</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://seansith.com</string>
</dict>
</plist>
